footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.filter {
	padding-left: 30px;
}

.showinfo{
	margin-left: 80px;
	margin-right: 300px;
}

.headed{
	margin-left: 80px;
}


.pushleft {
	float: left;
}

.well {
	width: 500px;
}