.heed {
	display: block;
	width: 100%;
	height: 112vh;
	background: url("images/ipad-background.jpeg") center center no-repeat;
	background-size: cover;
	
}

.bottompad{
	margin-bottom: 0px ;
}

.inputs	{
	text-align: center;
	margin: auto;
	width: 600px;
}

.test{
	text-align: right;
}

.inputbox {
	padding-left: 250px;
	width: 600px
	background-color: black;
}

input {
	width: 200px;
}

h1 {
	text-align: center;
}

a {
	color: dodgerblue;
}

.centre {
	text-align: center;
}

.form {
	padding-top: 20px;
}

.trouble{
	padding-top: 15px;
	color: white;
}
form button.btn {
	margin: 10px 0 20px 40%;
}

footer a{
	color: rgba(255,255,255,0.6);
	text-decoration: underline;
}

.login-div {
	background: rgba(255,255,255, 0.8);
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	width: 600px;
	border-radius: 50px;
	color:dodgerblue;

}

.theform {
	margin-right: 100px;
	margin-left: 100px;
}

p { 
	font-family: 'Helvetica Nue', Helvetica;
}

h1 {
	font-family: 'Helvetica Nue', Helvetica;
}

h2 {
	font-family: 'Helvetica Nue', Helvetica;
}

.backround {
	background-color: hsla(0, 100%, 1%, 0.3);
	margin: auto;
	width: 200px;
}



footer {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
}